<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Messaging users is fun! No spamming though!
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/broadcast/">Home</a></li>
            <li><a href="/broadcast/broadcast">Broadcast</a></li>
            <li><a href="/broadcast/logout">Logout</a></li>
        </ul>


    </div>
</nav>