<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include partials/head %>
</head>
<body class="container">

<header>
    <% include partials/header %>
</header>

<main>
    <div class="container">

        <h2>Welcome! Please log in.</h2>
        <a href="/auth/facebook"><img src="../assets/fb-login.jpg" width="151" height="24"></a>
    </div>
</main>

<footer>
    <% include partials/footer %>
</footer>

</body>
</html>
